{% extends "layout.html" %}

{% block scripts %}
  <script src="/static/scripts/dist/questionnaire.js" type="text/javascript"></script>
  <script type="text/javascript">
    function check_answers() {
      var leach_complete, leach_question;
      if ($("input[name='leach_1']").length) {
        leach_complete = true;
        for (leach_question=1; leach_question<21; leach_question++) {
            if ($("input[name='leach_" + leach_question + "']:checked").length == 0) {
                leach_complete = false;
                break;
            }
        }
        if (!leach_complete) { return false; }
      }

      $('#submit-questionnaire').prop('disabled', false);
      return true;
    }
  </script>
{% endblock %}

{% block container %}
<h1>Finished.</h1>
<hr>
<p>Thanks for contributing to our research. You will be eligible for full payment once you answer the following questions:</p>
<form>
    <div class="row question">
        <div class="column column-75">
            <p>What is your Prolific ID?</p>
        </div>
        <div class="column column-25">
            <input type="text" id = "workerID" name="workerID" onChange="check_answers()">
        </div>
    </div>
   
</form>
<hr>
<div>
    <button id="submit-questionnaire" type="button" disabled="true" class="button">
        Continue
    </button>
</div>
{% endblock %}
